@using FitInsight.Models.ActivityModels;

@model IEnumerable<ActivityComment>

<ul id="comments-list">
    @foreach (var comment in Model)
    {
        <li id="comment-@comment.CommentId">
            <strong>@comment.UserName</strong> - @comment.CommentText - @comment.CreatedAt.ToString("dd MMM yyyy HH:mm")
            @if (comment.UserId.ToString() == ViewBag.CurrentUserId)
            {
                <button class="btn-sm delete-comment" data-comment-id="@comment.CommentId" data-activity-id="@comment.ActivityId">Usuń</button>
            }
        </li>
    }
</ul>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
$(document).ready(function () {
    $(document).on('click', '.delete-comment', function (e) {
        e.preventDefault();

        var commentId = $(this).data('comment-id');
        var activityId = $(this).data('activity-id');

        $.ajax({
            url: '@Url.Action("DeleteComment", "Activity")',
            type: 'POST',
            data: { commentId: commentId },
            success: function (response) {
                $('#comments-' + activityId).html(response);
            },
            error: function (xhr) {
            }
        });
    });
});
    </script>
