@using FitInsight.Models.ActivityModels;

@model IEnumerable<ActivityComment>

<ul id="comments-list">
    @foreach (var comment in Model)
    {
        <li id="comment-@comment.CommentId">
            <strong>@comment.UserName</strong> - @comment.CommentText - @comment.CreatedAt.ToString("dd MMM yyyy HH:mm")
            <button class="btn btn-danger btn-sm delete-comment" data-comment-id="@comment.CommentId">Usuń</button>
        </li>
    }
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-comment').on('click', function (e) {
            e.preventDefault();
            var commentId = $(this).data('comment-id');

            $.ajax({
                url: '@Url.Action("DeleteComment", "Activity")',
                type: 'POST',
                data: { commentId: commentId },
                success: function (response) {
                    $('#comments-list').html(response);
                },
                error: function (xhr) {
                    alert('Wystąpił błąd przy usuwaniu komentarza.');
                }
            });
        });
    });
</script>